 <%
  show_empty_sections ||= false
  remove_automatic_sections ||= false

  # TODO: Change the body_contents left/right, as they are left and right
  body_content_title = page_title if (body_content_title = yield :body_content_title).blank? and !show_empty_sections and !remove_automatic_sections
  body_content_left = @page[:body] if (body_content_left = yield :body_content_left).blank? and !show_empty_sections and !remove_automatic_sections and @page.present?
  body_content_right = @page[:side_body] if (body_content_right = yield :body_content_right).blank? and !show_empty_sections and !remove_automatic_sections and @page.present?

  posted = @page[:created_at].to_time

  extra_body_content_classes = []
  extra_body_content_classes << "no_title" if body_content_title.blank?
  extra_body_content_classes << "no_left" if body_content_left.blank?
  extra_body_content_classes << "no_right" if body_content_right.blank?
-%>
<div class="post">
 	<div class="right">
		<% if body_content_title.present? or (show_empty_sections and !remove_automatic_sections) -%>
 			<h2 id='body_content_page_title'><%= body_content_title %></h2>
			<p class="post-info">Filed under <%= @page.slug.name %></p>
 		<% end -%>

		
		<% if body_content_left.present? or (show_empty_sections and !remove_automatic_sections) -%>
			<%= body_content_left %>
 		<% end -%>

		<% if body_content_right.present? or (show_empty_sections and !remove_automatic_sections)  -%>
			<%= body_content_right %>
 		<% end -%>                                                                                
		
		<div class="share-box clear">
			<h4>Share This</h4>
             	<ul>
				<li><a title="RSS" href="index.html" rel="nofollow"><%= image_tag 'rss_32.png', :theme => true %></a></li> 
 				<li><a title="del.icio.us" href="index.html" rel="nofollow"><%= image_tag 'delicious_32.png', :theme => true %></a></li>   
				<li><a title="StumbleUpon" href="index.html" rel="nofollow"><%= image_tag 'stumbleupon_32.png', :theme => true %></a></li>   
				<li><a title="Digg" href="index.html" rel="nofollow"><%= image_tag 'digg_32.png', :theme => true %></a></li>   
				<li><a title="Facebook" href="index.html" rel="nofollow"><%= image_tag 'facebook_32.png', :theme => true %></a></li>   
				<li><a title="Twitter" href="index.html" rel="nofollow"><%= image_tag 'twitter_32.png', :theme => true %></a></li>   
				<li><a title="Technorati" href="index.html" rel="nofollow"><%= image_tag 'technorati_32.png', :theme => true %></a></li>   
				<li><a title="NewsVine" href="index.html" rel="nofollow"><%= image_tag 'newsvine_32.png', :theme => true %></a></li>   
				<li><a title="LinkedIn" href="index.html" rel="nofollow"><%= image_tag 'linkedin_32.png', :theme => true %></a></li>   
			</ul>
		</div>


		<% unless @page.nil? or @page.live? -%>
			<div class='page_not_live'>
				This page is NOT live for public viewing.
			</div>
		<% end -%>     
 	</div>
   		<div class="left">
		<p class="dateinfo"><%= posted.strftime("%b") %><span><%= posted.strftime("%d") %></span></p>
		<div class="post-meta">
			<h4>Post Info</h4>
			<ul>
				<li class="time"><a href="#"><%= posted.strftime("%I:%M %p") %></a></li>
			</ul>
		</div>

	</div>
</div>
